@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh !important;
  overflow: auto;
}

@media screen and (min-width: 640px) {
  body {
    display: flex;
  }
}
